body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.table-header {
  color: #ffffff;
  background: #800000; /* For browsers that do not support gradients */
  background: linear-gradient(#AB3C4A, #802B37);
}

/*#B50B2B --- bottom color*/

.table-bordered th{
  border-color: #802B37 !important;
}

.table tbody>tr>td.vert-align-mid {
  vertical-align: middle;
}

.table thead>tr.vert-align-mid-head {
  vertical-align: middle;
}

.thead {
  padding-top: 50px;
  padding-bottom: 50px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #F8F8F8;
 }

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #F4F4F4;
}

.article-cell {
  position: relative;
}

.bootcamp {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 7px;
  padding-bottom: 5px;
  color: #47765A;
  font-weight: bold;
  font-size: small;
}

.article-avatar {
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 5px;
}
