body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.table-header {
  color: #ffffff;
  background: #800000; /* For browsers that do not support gradients */
  background: linear-gradient(#AB3C4A, #802B37);
}

/*#B50B2B --- bottom color*/

.table-bordered th{
  border-color: #802B37 !important;
}

img {
  height: 50px;
  width: 50px;
}

.table tbody>tr>td.vert-align-mid {
  vertical-align: middle;
}

.table thead>tr.vert-align-mid-head {
  vertical-align: middle;
}

.table tbody>tr>td.vert-align-top {
  vertical-align: text-top;
}

.thead {
  padding-top: 50px;
  padding-bottom: 50px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #F8F8F8;
 }

 .table-striped>tbody>tr:nth-child(even)>td,
 .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #F4F4F4;
  }

  .bootcamp {
    color: #47765A;
    font-weight: bold
  }
